@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
}

.navBar {
  height: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-app-region: drag;
  background-color: #01010E;
}

.navBar__title {
  font-weight: bold;
  padding-left: 8px;
  color: #E8E7FAD9;
}

.navBar__navButtonsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 70px;
  height: 100%;
}

.navBar__navButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 32px;
  min-width: 24px;
  padding: 0 4px;
  border: none;
  background-color: transparent;
  -webkit-app-region: no-drag;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navBar__minimizeButton:hover,
.navBar__settingsButton:hover {
  background-color: #111;
}

.navBar__closeButton:hover {
  background-color: #f00;
}

.navBar__closeButton > svg {
  margin-bottom: 10px;
}

.navBar__minimizeButton > svg {
  margin-bottom: 10px;
}

.navBar__settingsButton > svg {
  margin-bottom: 10px;
}

.main {
  height: calc(100vh - 32px);
  width: 100%;
  background-color: #01010E;
  overflow-y: auto;
}

.main__upperButtonsWrap {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__settingsMenu {
  display: none;
  position: absolute;
  top: 30px;
  right: 60px;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.main__settingsMenu > button {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #01010E;
  padding: 4px;
  font-size: 0.9em;
  color: #E8E7FAD9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main__settingsMenu > button:hover {
  background-color: #111;
}

.main__list {
  width: 100%;
  height: calc(100% - 122px);
  background-image: url("../assets/background.png");
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #E8E7FAD9;
}

.main__list::-webkit-scrollbar {
  display: none;
}

.main__results {
  position: absolute;
  width: 80%;
  height: 80vh;
  top: 10vh;
  left: 100vw;
  z-index: 3;
  background-color: #333;
  color: #E8E7FAD9;
  border-radius: 5px;
  overflow-y: auto;
}

.main__resultsTitle {
  padding: 8px 0;
  margin-top: 8px;
  text-align: center;
  background-color: #222;
  font-weight: bold;
}

.main__resultsResult {
  font-size: 1.1em;
  color: #E8E7FAD9;
  padding: 4px;
  background-color: #222;
}

.main__resultsCloseButton {
  width: 100%;
  height: 30px;
  color: #E8E7FAD9;
  background-color: #333;
  font-size: 1.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.main__resultsCloseButton:hover {
  background-color: #111;
}

.main__blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__randomizeButton {
  height: 50px;
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#4F0C5A), color-stop(43.75%, #061847), color-stop(59.9%, #061847), to(#4F0C5A));
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
  border: none;
  color: #E8E7FAD9;
  font-size: 20px;
  cursor: pointer;
}

.main__group {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #01010E;
}

.main__groupName {
  width: 45%;
  background-color: #01010E;
  color: #E8E7FAD9;
  border: none;
  outline: none;
  padding-left: 8px;
}

.main__groupColor {
  width: 45%;
  background-color: #01010E;
  color: #E8E7FAD9;
  border: 1px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  padding-left: 8px;
}

.main__removeGroupButton {
  border: none;
  background-color: #01010E;
  color: #E8E7FAD9;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__removeGroupButton:hover {
  background-color: #222;
}

.main__field {
  margin: 8px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 192px;
  height: 24px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  -o-border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
     border-image: -webkit-gradient(linear, right top, left top, from(#4F0C5A), color-stop(43.75%, #061847), color-stop(59.9%, #061847), to(#4F0C5A)) 30;
     border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
}

.main__fieldNumber {
  width: 25px;
  font-size: 16px;
  font-weight: bold;
}

.main__field > input {
  outline: none;
  width: 95%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #E8E7FAD9;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.main__loadSetupButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
  border: none;
  background-color: transparent;
  background-color: #01010E;
  color: #E8E7FAD9;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main__loadSetupButton::before {
  content: "";
  display: block;
  width: 100%;
  min-height: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#4F0C5A), color-stop(43.75%, #061847), color-stop(59.9%, #061847), to(#4F0C5A));
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
}

.main__loadSetupButtonWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main__loadSetupButton:hover {
  background-color: #111;
}

.main__setupTitle {
  width: 20%;
  height: 100%;
  padding-left: 8px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  line-height: 32px;
}

.main__setupText {
  position: absolute;
  font-weight: bold;
  top: 32px;
  left: 0;
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
}

.main__setupSettingsWrap {
  height: 40px;
  width: 100%;
}

.main__setupSettingsWrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#4F0C5A), color-stop(43.75%, #061847), color-stop(59.9%, #061847), to(#4F0C5A));
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
}

.main__setupSettingsTitle {
  margin-left: 8px;
  color: #E8E7FAD9;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.main__setupSettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 176px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 64px;
  left: calc( 50% - 88px);
}

.main__fieldsList {
  padding: 16px 0;
}

.main__fieldsSettingsTitle, .main__groupsSettingsTitle {
  color: #E8E7FAD9;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}

.main__fieldsSettingsInput, .main__groupsSettingsInput {
  width: 20px;
  height: 100%;
  margin-left: 8px;
  background-color: transparent;
  font-size: 16px;
  border: none;
  color: #E8E7FAD9;
  text-align: center;
  font-weight: bold;
  outline: none;
}

.main__fieldsSettingsInput::-webkit-inner-spin-button, .main__groupsSettingsInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main__fieldsSettingsInput::-webkit-outer-spin-button, .main__groupsSettingsInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main__fieldsSettingsInput[type=number], .main__groupsSettingsInput[type=number] {
  -moz-appearance: textfield;
}

.main__fieldsSettingsWrap, .main__groupsSettingsWrap {
  min-width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */