@font-face {
  font-family: Lato;
  src: url("../assets/Lato-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Lato;
  src: url("../assets/Lato-Bold.ttf");
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
}

.navBar {
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;
  background-color: #01010E;
}

.navBar__title {
  font-weight: bold;
  padding-left: 8px;
  color: rgba(232, 231, 250, 0.8509803922);
}

.navBar__navButtonsWrap {
  display: flex;
  min-width: 70px;
  height: 100%;
}

.navBar__navButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 32px;
  min-width: 24px;
  padding: 0 4px;
  border: none;
  background-color: transparent;
  -webkit-app-region: no-drag;
  cursor: pointer;
  transition: 0.3s;
}

.navBar__minimizeButton:hover,
.navBar__settingsButton:hover {
  background-color: #111;
}

.navBar__closeButton:hover {
  background-color: #f00;
}

.navBar__closeButton > svg {
  margin-bottom: 10px;
}

.navBar__minimizeButton > svg {
  margin-bottom: 10px;
}

.navBar__settingsButton > svg {
  margin-bottom: 10px;
}

.main {
  height: calc(100vh - 32px);
  width: 100%;
  background-color: #01010E;
  overflow-y: auto;
}

.main__upperButtonsWrap {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main__settingsMenu {
  display: none;
  position: absolute;
  top: 30px;
  right: 60px;
  width: 200px;
  flex-direction: column;
  opacity: 0;
  z-index: 4;
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
     border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
}

.main__settingsMenu > button {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #01010E;
  padding: 4px;
  font-size: 0.9em;
  color: rgba(232, 231, 250, 0.8509803922);
  transition: 0.3s;
  cursor: pointer;
}

.main__settingsMenu > button:hover {
  background-color: #111;
}

.main__list {
  width: 100%;
  height: calc(100% - 136px);
  background-image: url("../assets/background.png");
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  color: rgba(232, 231, 250, 0.8509803922);
}
.main__list::-webkit-scrollbar {
  display: none;
}

.main__results {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  top: 80px;
  left: 100vw;
  z-index: 3;
  background-image: url("../assets/background.png");
  color: rgba(232, 231, 250, 0.8509803922);
  border-radius: 5px;
  overflow-y: auto;
}

.main__resultsList {
  height: calc(100% - 48px);
  padding-bottom: 24px;
}

.main__resultsTitle {
  margin: 24px 0 8px 0;
  text-align: center;
  font-weight: bold;
}

.main__resultsResult {
  font-size: 16px;
  width: 192px;
  height: 24px;
  color: rgba(232, 231, 250, 0.8509803922);
  text-align: center;
  margin: 4px 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
     border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
}

.main__resultsButtonsWrap {
  display: flex;
  width: 100%;
  height: 48px;
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
}

.main__resultsCloseButton, .main__resultRandomizeButton {
  width: 50%;
  height: 48px;
  color: rgba(232, 231, 250, 0.8509803922);
  font-size: 1.2em;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

.main__resultsCloseButton:hover, .main__resultRandomizeButton:hover {
  background-color: rgba(255, 255, 255, 0.0549019608);
}

.main__randomizeButton {
  height: 48px;
  width: 100%;
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
  border: none;
  color: rgba(232, 231, 250, 0.8509803922);
  font-size: 20px;
  cursor: pointer;
}

.main__field {
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  width: 192px;
  height: 24px;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-style: solid;
  border-bottom-width: 1px;
  -o-border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
     border-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%) 30;
}

.main__fieldNumber {
  width: 25px;
  font-size: 16px;
  font-weight: bold;
}

.main__field > input {
  outline: none;
  width: 95%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: rgba(232, 231, 250, 0.8509803922);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.main__loadSetupButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 48px;
  border: none;
  background-color: transparent;
  background-color: #01010E;
  color: rgba(232, 231, 250, 0.8509803922);
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}
.main__loadSetupButton::before {
  content: "";
  display: block;
  width: 100%;
  min-height: 1px;
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
}
.main__loadSetupButton::after {
  content: "";
  display: block;
  width: 100%;
  min-height: 1px;
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
}

.main__loadSetupButtonWrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.main__loadSetupButton:hover {
  background-color: #111;
}

.main__setupTitle {
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  padding-left: 8px;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  line-height: 32px;
}

.main__setupText {
  position: absolute;
  font-weight: bold;
  top: 32px;
  left: 0;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
}

.main__setupSettingsWrap {
  height: 40px;
  width: 100%;
}
.main__setupSettingsWrap::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
}

.main__setupSettingsTitle {
  margin-left: 8px;
  color: rgba(232, 231, 250, 0.8509803922);
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
}

.main__setupSettings {
  display: flex;
  width: 240px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 80px;
  left: calc(50% - 120px);
}

.main__settingsInputButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgba(232, 231, 250, 0.8509803922);
  font-weight: bold;
}
.main__settingsInputButton--less {
  padding: 0 4px 0 8px;
}
.main__settingsInputButton--greater {
  padding: 0 8px 0 4px;
}
.main__settingsInputButton > svg {
  pointer-events: none;
}

.main__settingsInputWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 56px;
  height: 24px;
  border: double 2px transparent;
  background: linear-gradient(#01010E, #01010E), linear-gradient(270deg, #4F0C5A 0%, #061847 43.75%, #061847 59.9%, #4F0C5A 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 30px;
}

.main__fieldsList {
  padding: 16px 0;
}

.main__fieldsSettingsTitle, .main__groupsSettingsTitle {
  color: rgba(232, 231, 250, 0.8509803922);
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
}

.main__fieldsSettingsInput, .main__groupsSettingsInput {
  width: 20px;
  height: 100%;
  background-color: transparent;
  line-height: 20px;
  border: none;
  color: rgba(232, 231, 250, 0.8509803922);
  text-align: center;
  font-weight: bold;
  outline: none;
}
.main__fieldsSettingsInput::-webkit-inner-spin-button, .main__groupsSettingsInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main__fieldsSettingsInput::-webkit-outer-spin-button, .main__groupsSettingsInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main__fieldsSettingsInput[type=number], .main__groupsSettingsInput[type=number] {
  -moz-appearance: textfield;
}

.main__fieldsSettingsWrap, .main__groupsSettingsWrap {
  min-width: 120px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}/*# sourceMappingURL=style.css.map */