@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap")
@import ./__variables

* 
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: "Lato", Arial, Helvetica, sans-serif

html 
  overflow-x: hidden

.navBar 
  height: 32px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  -webkit-app-region: drag
  background-color: $backgroundColor

.navBar__title 
  font-weight: bold
  padding-left: 8px
  color: $primaryText

.navBar__navButtonsWrap 
  display: flex
  min-width: 70px
  height: 100%

.navBar__navButton 
  display: flex
  justify-content: center
  align-items: flex-end
  height: 32px
  min-width: 24px
  padding: 0 4px
  border: none
  background-color: transparent
  -webkit-app-region: no-drag
  cursor: pointer
  transition: 0.3s

.navBar__minimizeButton:hover,
.navBar__settingsButton:hover 
  background-color: #111

.navBar__closeButton:hover 
  background-color: #f00

.navBar__closeButton > svg 
  margin-bottom: 10px

.navBar__minimizeButton > svg 
  margin-bottom: 10px

.navBar__settingsButton > svg 
  margin-bottom: 10px

.main 
  height: calc(100vh - 32px)
  width: 100%
  background-color: $backgroundColor
  overflow-y: auto

.main__upperButtonsWrap 
  width: 100%
  height: 50px
  display: flex
  justify-content: space-evenly
  align-items: center

.main__settingsMenu 
  display: none
  position: absolute
  top: 30px
  right: 60px
  width: 200px
  flex-direction: column
  opacity: 0

.main__settingsMenu > button 
  width: 100%
  height: 30px
  border: none
  background-color: $backgroundColor
  padding: 4px
  font-size: 0.9em
  color: $primaryText
  transition: 0.3s
  cursor: pointer

.main__settingsMenu > button:hover 
  background-color: #111

.main__list 
  width: 100%
  height: calc(100% - 122px)
  background-image: url("../assets/background.png")
  overflow-y: auto
  display: flex
  flex-direction: column
  color: $primaryText
  &::-webkit-scrollbar
    display: none

.main__results 
  position: absolute
  width: 80%
  height: 80vh
  top: 10vh
  left: 100vw
  z-index: 3
  background-color: #333
  color: $primaryText
  border-radius: 5px
  overflow-y: auto

.main__resultsTitle 
  padding: 8px 0
  margin-top: 8px
  text-align: center
  background-color: #222
  font-weight: bold

.main__resultsResult 
  font-size: 1.1em
  color: $primaryText
  padding: 4px
  background-color: #222

.main__resultsCloseButton 
  width: 100%
  height: 30px
  color: $primaryText
  background-color: #333
  font-size: 1.2em
  transition: 0.3s
  border: none
  cursor: pointer

.main__resultsCloseButton:hover 
  background-color: #111

.main__blur 
  position: absolute
  width: 100%
  height: 100vh
  top: 0
  left: 100vw
  z-index: 2
  background-color: rgba(0, 0, 0, 0.5)

.main__randomizeButton 
  height: 50px
  width: 100%
  background-image: $primaryGradient
  border: none
  color: $primaryText
  font-size: 20px
  cursor: pointer

.main__group 
  margin-top: 8px
  display: flex
  width: 100%
  height: 40px
  background-color: $backgroundColor

.main__groupName 
  width: 45%
  background-color: $backgroundColor
  color: $primaryText
  border: none
  outline: none
  padding-left: 8px

.main__groupColor 
  width: 45%
  background-color: $backgroundColor
  color: $primaryText
  border: 1px solid black
  transition: 0.3s
  outline: none
  padding-left: 8px

.main__removeGroupButton 
  border: none
  background-color: $backgroundColor
  color: $primaryText
  cursor: pointer
  transition: 0.3s

.main__removeGroupButton:hover 
  background-color: #222

.main__field 
  margin: 8px auto
  display: flex
  justify-content: space-between
  width: 192px
  height: 24px
  border-left-width: 0
  border-right-width: 0
  border-top-width: 0
  border-style: solid
  border-bottom-width: 1px
  border-image: $primaryGradient 30

.main__fieldNumber
  width: 25px
  font-size: 16px
  font-weight: bold

.main__field > input 
  outline: none
  width: 95%
  height: 100%
  border: none
  background-color: transparent
  color: $primaryText
  text-align: center
  font-size: 16px
  font-weight: bold

.main__loadSetupButton 
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  height: 32px
  border: none
  background-color: transparent
  background-color: $backgroundColor
  color: $primaryText
  font-size: 20px
  transition: 0.3s
  cursor: pointer
  &::before
    content: ""
    display: block
    width: 100%
    min-height: 1px
    background-image: $primaryGradient

.main__loadSetupButtonWrap
  display: flex
  width: 100%
  justify-content: flex-start

.main__loadSetupButton:hover 
  background-color: #111

.main__setupTitle 
  width: 20%
  height: 100%
  padding-left: 8px
  font-size: 14px
  text-align: left
  font-weight: bold
  line-height: 32px

.main__setupText 
  position: absolute
  font-weight: bold
  top: 32px
  left: 0
  width: 100%
  height: 32px
  line-height: 32px
  font-size: 20px

.main__setupSettingsWrap
  height: 40px
  width: 100%
  &::after
    content: ""
    display: block
    width: 100%
    height: 1px
    background-image: $primaryGradient
  
.main__setupSettingsTitle
  margin-left: 8px
  color: $primaryText
  line-height: 40px
  font-size: 14px
  font-weight: bold

.main__setupSettings
  display: flex
  width: 176px
  height: 40px
  align-items: center
  justify-content: space-between
  position: absolute
  top: 64px
  left: calc( 50% - 88px )

.main__fieldsList
  padding: 16px 0

.main__fieldsSettingsTitle, .main__groupsSettingsTitle
  color: $primaryText
  font-size: 16px
  font-weight: bold
  line-height: 32px

.main__fieldsSettingsInput, .main__groupsSettingsInput
  width: 20px
  height: 100%
  margin-left: 8px
  background-color: transparent
  font-size: 16px
  border: none
  color: $primaryText
  text-align: center
  font-weight: bold
  outline: none
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
  &::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0
  &[type=number]
    -moz-appearance: textfield

.main__fieldsSettingsWrap, .main__groupsSettingsWrap
  min-width: 70px
  height: 100%
  display: flex
  justify-content: space-around
  align-items: center