@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

html {
  overflow-x: hidden;
}

.navBar {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-app-region: drag;
  background-color: #222;
}

.navBar__title {
  font-weight: bold;
  padding-left: 8px;
  color: white;
}

.navBar__navButtonsWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  height: 100%;
}

.navBar__navButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 25px;
  border: none;
  background-color: #222;
  -webkit-app-region: no-drag;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navBar__minimizeButton:hover,
.navBar__settingsButton:hover {
  background-color: #111;
}

.navBar__closeButton:hover {
  background-color: #f00;
}

.navBar__closeButton > svg {
  width: 20px;
  height: 20px;
}

.navBar__minimizeButton > svg {
  width: 15px;
  height: 15px;
}

.navBar__settingsButton > svg {
  width: 15px;
  height: 15px;
}

.main {
  height: calc(100vh - 30px);
  width: 100%;
  background-image: #333;
  overflow-y: auto;
}

.main__upperButtonsWrap {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__settingsMenu {
  display: none;
  position: absolute;
  top: 30px;
  right: 60px;
  width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
}

.main__settingsMenu > button {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #444;
  padding: 4px;
  font-size: 0.9em;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main__settingsMenu > button:hover {
  background-color: #111;
}

.main__list {
  width: 100%;
  height: calc(100% - 82px);
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.main__results {
  position: absolute;
  width: 80%;
  height: 80vh;
  top: 10vh;
  left: 100vw;
  z-index: 3;
  background-color: #333;
  color: white;
  border-radius: 5px;
  overflow-y: auto;
}

.main__resultsTitle {
  padding: 8px 0;
  margin-top: 8px;
  text-align: center;
  background-color: #222;
  font-weight: bold;
}

.main__resultsResult {
  font-size: 1.1em;
  color: white;
  padding: 4px;
  background-color: #222;
}

.main__resultsCloseButton {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #333;
  font-size: 1.2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.main__resultsCloseButton:hover {
  background-color: #111;
}

.main__blur {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 100vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__randomizeButton {
  height: 50px;
  width: 100%;
  background-color: #222;
  border: none;
  color: white;
  font-size: 1.4em;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__randomizeButton:hover {
  background-color: #111;
}

.main__groupsListTitle,
.main__fieldsListTitle {
  width: 100%;
  text-align: center;
  margin-top: 8px;
  font-size: 1.3em;
}

.main__group {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #444;
}

.main__groupName {
  width: 45%;
  background-color: #444;
  color: white;
  border: none;
  outline: none;
  padding-left: 8px;
}

.main__groupColor {
  width: 45%;
  background-color: #444;
  color: white;
  border: 1px solid black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  padding-left: 8px;
}

.main__removeGroupButton {
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main__removeGroupButton:hover {
  background-color: #222;
}

.main__field {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #444;
}

.main__field > input {
  outline: none;
  width: 80%;
  border: none;
  background-color: #444;
  color: white;
  padding-left: 8px;
}

.main__field > button {
  background-color: #444;
  border: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main__field > button:hover {
  background-color: #222;
}

.main__pickerScreen {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.main__loadSetupButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
  border: none;
  background-color: transparent;
  background-color: #222;
  color: white;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.main__loadSetupButton:hover {
  background-color: #111;
}

.main__setupTitle {
  width: 20%;
  height: 100%;
  padding-left: 8px;
  text-align: left;
  font-size: 16px;
  line-height: 32px;
}

.main__setupText {
  width: 80%;
  height: 100%;
  line-height: 32px;
}
/*# sourceMappingURL=style.css.map */