/* use !important */

.navBar,
.navBar__navButton {
  background-color: #ddd !important;
}

.main {
  background-image: url("./background.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.main__randomizeButton {
  background-color: #bbb !important;
}

.main__randomizeButton:hover {
  background-color: #aaa !important;
}
